spring:
  application:
    name: batch-service
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:shopsphere_batch}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
  flyway:
    locations: classpath:db/migration
    baseline-on-migrate: true
  batch:
    jdbc:
      initialize-schema: always

server:
  port: ${SERVER_PORT:8090}
  servlet:
    context-path: /batch

management:
  endpoints:
    web:
      exposure:
        include: health,metrics,info
  endpoint:
    health:
      show-details: always

eureka:
  client:
    serviceUrl:
      defaultZone: http://${EUREKA_HOST:localhost}:${EUREKA_PORT:8761}/eureka/
  instance:
    hostname: ${HOSTNAME:localhost}
    prefer-ip-address: true
