spring:
  application:
    name: pricing-service
  datasource:
    url: jdbc:postgresql://localhost:5432/pricing_db
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: validate

server:
  port: 8085

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
